---
title: "LinkShare"
layout: default
description: "What I want to share"
header-img: "img/share-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<head>

<style type="text/css">
p {
    font-size: 15px;
    margin-top: 5px;
    text-align: justify;
    line-height: 25px;
}
</style>

</head>

<!-- Chinese Version -->
<div class="zh">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>学习链接分享</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <!--<div class="col-md-4 col-xs-12 center">-->
                                    <!--<img src="/img/in-portfolio/blur-war.jpg" class="img-thumbnail">-->
                                <!--</div>-->
                                <table border="1">
                                    <tr>
                                        <td><a href="http://www.cnblogs.com/zwywilliam/p/5999924.html">用好lua+unity，让性能飞起来——lua与c# 交互篇</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="http://www.cnblogs.com/zwywilliam/p/5999980.html">用好lua+unity，让性能飞起来——luajit集成篇/平台相关篇</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://www.cnblogs.com/zwywilliam/p/5999993.html">用好lua+unity，让性能飞起来——关于《Unity项目常见Lua解决方案性能比较》的一些补充</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://zhuanlan.zhihu.com/c_140010238">小白的Unity Shader学习笔记</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://blog.csdn.net/leonwei/article/details/54972653">Unity3d中渲染到RenderTexture的原理，几种方式以及一些问题</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://www.xuanyusong.com/archives/4331">Unity3D游戏优化之头顶UI</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="http://www.xuanyusong.com/archives/3518">UGUI研究院之Mask裁切UI粒子特效或者3D模型（十七）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://www.xuanyusong.com/archives/4408">UGUI研究院之新手引导事件上下分离（二十七）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://www.xuanyusong.com/archives/2405">Unity3D研究院之Assetbundle的实战（六十三）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="http://www.xuanyusong.com/archives/2748">Unity3D研究院之Android全自动打包生成apk（六十九）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://www.xuanyusong.com/archives/3349">Unity3D研究院之Jenkins的使用（七十八）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://www.xuanyusong.com/archives/4279">Unity3D研究院之UGUI安卓自动ETC1通道分离（九十一）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://blog.uwa4d.com/archives/USparkle_UGUIScrollRect.html">如何优化UGUI的ScrollRect</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://blog.uwa4d.com/archives/2045.html">客户端配置文件优化策略（不同Json库性能比对）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://blog.uwa4d.com/archives/1490.html">Lua配置表存储优化方案(优化冗余)</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://blog.uwa4d.com/archives/Sparkle_AB.html">给调皮的AssetBundle加上面向对象式加载调试管理</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://zhuanlan.zhihu.com/p/33458843">Unity手游开发札记——使用Shader进行UGUI的优化（slider、mask）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://blog.uwa4d.com/archives/2244.html">在移动设备端实现美丽的海面效果（波光+渐变+实时倒影）</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://blog.csdn.net/u013553804/article/details/52050333">iTween.easeType各个内容函数图展示</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="http://speech.ee.ntu.edu.tw/~tlkagk/courses.html">机器学习课程表</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="https://zhuanlan.zhihu.com/p/24309547">给深度学习入门者的Python快速教程 - numpy和Matplotlib篇</a></td>
                                    </tr>

                                </table>
                                <!--<ol>-->
                                    <!--<li><a href="http://www.cnblogs.com/zwywilliam/p/5999924.html)">用好lua+unity，让性能飞起来——lua与c# 交互篇</a></li>-->
                                    <!--<li><a href="http://www.cnblogs.com/zwywilliam/p/5999980.html)">用好lua+unity，让性能飞起来——luajit集成篇/平台相关篇</a></li>-->
                                <!--</ol>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>