---
title: "MovieShare"
layout: default
description: "What I want to share"
header-img: "img/share-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<head>

<style type="text/css">
p {
    font-size: 15px;
    margin-top: 5px;
    text-align: justify;
    line-height: 25px;
}
</style>

</head>

<!-- Chinese Version -->
<div class="zh">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>电影好评</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <!--<div class="col-md-4 col-xs-12 center">-->
                                    <!--<img src="/img/about-bg.jpg" class="img-thumbnail">-->
                                <!--</div>-->
                                <table border="1">
                                    <tr>
                                        <td><a href="https://pan.baidu.com/s/1gQ6w06sjxImruNhYSlvg-g">[1-10季全]老友记 第二季.404.2GB</a></td>
                                        <td>提取码：7bia</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>